In [1]:
import pandas

In [2]:
df = pandas.read_excel('s3://counihan-ia241/house_price.xls')

print(df)

      price  bathroom           house_type  lot_size  built_in  area
0    159900         1   single-family home      5662      1924  1584
1   1100000         1   single-family home   4138200      1932   900
2    182000         2                condo      7405      1945  1622
3    169900         1   single-family home     36155      1950  1556
4    148500         1   single-family home      9147      1959  1000
5    444900         6   single-family home     28314      1961  5201
6    178000         2   single-family home     11326      1964  1188
7    209000         2   single-family home      9147      1966  1918
8    349900         2   single-family home    204732      1967  3850
9   1100000         2   single-family home   4356000      1970  2541
10   239000         3   single-family home     12197      1972  2210
11   149900         2   single-family home      8712      1975  1810
12   294900         2   single-family home     30928      1978  3150
13   625000         6   single-family home     14810      1985  5299
14   309900         3   single-family home     15246      1986  2136
15   179900         2   single-family home     13068      1988  1237
16   339900         3   single-family home     14375      1993  2003
17   134900         2            townhouse      2300      1994   920
18   359000         4   single-family home     10130      1997  2903
19   529900         5   single-family home     19166      1998  5202
20   149900         3            townhouse      2291      1999  1440
21   394000         2   single-family home     18295      2001  2616
22   229900         2   single-family home     10018      2002  1541
23   439000         4   single-family home     18731      2005  3819
24   146900         3                condo      2178      2006  1276
25   174900         3   single-family home      2469      2007  1344
26   445000         4   single-family home     21780      2010  3504
27   659000         4   single-family home     21780      2014  5156
28   429000         5   single-family home      7405      2017  2799
29   429000         4   single-family home     22651      2018  3145

In [4]:
df['unit_price']= df['price']/df['area']

In [5]:
import numpy as np

In [9]:
print('the max unit price is ${}'.format(np.amax(df['unit_price'])))

the max unit price is $1222.2222222222222

In [10]:
print('the median unit price is ${}'.format(np.median(df['unit_price'])))

the median unit price is $125.33144542647584

In [12]:
df.groupby('house_type').mean()['unit_price']

house_type
 condo                 113.666272
 single-family home    177.947148
 townhouse             125.363829
Name: unit_price, dtype: float64

In [13]:
from scipy import stats

In [14]:
result = stats.linregress(df['area'],df['price'])

In [15]:
print('slope is {}'.format(result.slope))

slope is 74.37646603912873

In [16]:
print('intercept is {}'.format(result.intercept))

intercept is 171081.13292168107

In [18]:
print('R square is {}'.format(result.rvalue * result.rvalue))

R square is 0.1660981507478648

In [19]:
print('p value is {}'.format(result.pvalue))

p value is 0.025387094399552994

In [20]:
print('the price of a house with 2,000 sqft is ${}'.format(2000*result.slope+result.intercept))

the price of a house with 2,000 sqft is $319834.06499993854